@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p>
            <h3 class="display-4">ASP.NET Core MVC</h3>
            <br /><br />
            <h4 class="display-3">Assignment</h4>
        </p>
    </div>
